{% extends 'base.html' %}
{% load static %}

{% block title %}
Flow
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-secondary" href="{% url 'ticket_create' %}">
                Request a review
            </a>
        </div>
        <div class="col text-right">
            <a class="btn btn-outline-secondary" href="{% url 'review_create' %}">
                Create a review
            </a>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col">
            {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    {% if post.content_type == 'TICKET' %}
                    {% include 'snippets/ticket.html' with post=post %}
                    {% include 'ticket_button.html' %}

                    {% elif post.content_type == 'FOLLOWER_TICKET' %}
                    {% include 'snippets/ticket.html' with post=post %}

                    {% elif post.content_type == 'REVIEW' %}
                    {% include 'snippets/review.html' with post=post%}
                    {% include 'review_button.html' with post=post %}

                    {% elif post.content_type == 'FOLLOWER_REVIEW' %}
                    {% include 'snippets/review.html' with post=post%}

                    {% endif %}
                </div>
                <div class="container my-3">

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
